.wrap {
  width: 100vw;
  height: 100vh;
}

.top, .bottom {
  height: 25%;
  background: #331B25;
  position: relative;
}

.content {
  height: 50%;
  box-shadow: 0 0 0 20px rgba(255,255,255,0.3);
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/fabric_of_squares_gray.png");
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: center;
}

.content-left {
  padding: 0 40px;
  width: 500px;
}

.content-left-top {
  text-align: right;
  padding: 30px 30px 20px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.content-left-bottom {
  text-align: right;
  padding: 20px 30px 30px;
  font-size: 12px;
  color: #666;
}

.content-right {
  padding-left: 30px;
}

.content-inner {
  display: flex;
  align-items: center;
}

.content-inner {
  width: 960px;
  display: flex;
  flex-direction: row;
}

.subtext-style {
  font-size: 12px;
  color: #666;
  text-align: center;
  margin-top: 20px;
}

.vegas-timer-progress {
  background: #FF7760;
}

.yen-highlight {
  color: #d06d7b;
  font-weight: bold;
}

.button {
  display: inline-block;
  width: 200px;
  height: 54px;
  text-align: center;
  text-decoration: none;
  line-height: 54px;
  outline: none;
}
.button::before,
.button::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.button,
.button::before,
.button::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

/*---*/

.button {
  position: relative;
  z-index: 2;
  background-color: #333;
  border: 2px solid #333;
  color: #fff;
  line-height: 50px;
}
.button:hover {
  background-color: #fff;
  border-color: #F691BB;
  color: #F691BB;
}
.button::before,
.button::after {
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #333;
}
.button::before {
  right: 0;
}
.button::after {
  left: 0;
}
.button:hover::before,
.button:hover::after {
  width: 0;
  background-color: #F691BB;
}

.remodal h4 {
  font-size: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  margin-bottom: 25px;
}

.famous-quote {
  position: relative;
  z-index: 10000;
}

.remodal p {
  line-height: 1.618;
}

.spacer-h30 {
  height: 30px;
}
